<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="#" th:action="@{'/chat'}" th:object="${chatForm}" method="POST">
  <label for="username">Username:</label>
  <input id="username" th:field="*{username}" type="text">
  <label for="messageText">Message Text:</label>
  <input id="messageText" th:field="*{messageText}" type="text">
  <label for="messageType">Message Type: </label>
  <select id="messageType" th:field="*{messageType}">
    <option th:each="type: ${allMessageTypes}" th:text="${type}" th:value="${type}">Say</option>

  </select>
  <input type="submit">
</form>
<div th:each="msg: ${greetings}" >
  <span th:text="${msg.username}">Username:</span>: <span th:text="${msg.messageText}">Hello, World!</span>
</div>
<!--<-->
<!--<h1 th:each="msg: ${greetings}" th:text="${msg}" th:unless="${msg.contains('Fuck You')}">-->
<!--  Hello, homepage!</h1>-->

</body>
</html>